# Byte-compiled / optimized / DLL files
.DS_Store
report_*.txt
_te*.*

#data files
*.yml
*.tgz
*.gz
*.csv
pyecobee_db*

html/dashboard.js
html/build/
node_modules/
dist/
package-lock.json
.superpowers/
